body {
    background: linear-gradient(to right, #E9F5DB, #C7E9B0);
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}