p {
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    text-align: center;
    color: forestgreen;
    text-shadow: 4px 6px 5px #737671;
}

body {
    background: linear-gradient(to top, rgb(117, 225, 117), rgb(243, 224, 224));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.plant-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.plant-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.plant-list li {
    margin-bottom: 10px;
}

.plant-list a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.plant-list a:hover {
    color:rgb(0, 128, 128);
    /* background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px; */
}