iframe {
  width: 100%;
  max-width: 700px;
  height: auto;
  aspect-ratio: 7 / 4; /* maintains 700x400 ratio */
}

img,
.img-2 {
  width: 100%;
  max-width: 300px;
  height: auto;
}

/* Instead of float for .ans */
.container-ans {
  display: flex;
  justify-content: flex-end;
  margin-right: 300px;
}

.ans {
  font-size: 20px;
  font-weight: 500;
}
